@font-face {
    font-family: 'readabilicons';
    src: url('../fonts/readabilicons-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/readabilicons-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/readabilicons-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/readabilicons-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/readabilicons-regular.svg#readabiliconsregular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

.icon {
    font-family: "readabilicons";
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
}

.icon-couch:before {
    content: "\e018";
}

.icon-archive:before {
    content: "\e001";
}

.icon-unarchive:before {
    content: "\e002";
}

.icon-style:before {
    content: "\e003";
}

.icon-facebook:before {
    content: "\e004";
}

.icon-twitter:before {
    content: "\e005";
}

.icon-email:before {
    content: "\e006";
}

.icon-favorite:before {
    content: "\e007";
}

.icon-kindle:before {
    content: "\e008";
}

.icon-epub:before {
    content: "\e009";
}

.icon-print:before {
    content: "\e010";
}

.icon-left-triangle:before {
    content: "\e011";
}

.icon-right-triangle:before {
    content: "\e012";
}

.icon-delete:before {
    content: "\e013";
}

.icon-tag:before {
    content: "\e014";
}

.icon-add:before {
    content: "\e015";
}

.icon-read-now:before {
    content: "\e019";
}

.icon-read-later:before {
    content: "\e020";
}

.icon-settings:before {
    content: "\e021";
}

.icon-share:before {
    content: "\e022";
}

.icon-down-triangle:before {
    content: "\e023";
}

.icon-hamburger:before {
    content: "\e024";
}

.icon-recommend:before {
    content: "\e025";
}

.icon-more:before {
    content: "\e026";
}

.icon-sentinel:before {
    content: "\e027";
}

.icon-whitney:before {
    content: "\e028";
}

.icon-mercury:before {
    content: "\e029";
}

.icon-mode-night:before {
    content: "\e030";
}

.icon-mode-day:before {
    content: "\e031";
}

.icon-check:before {
    content: "\e032";
}

.icon-x:before {
    content: "\e033";
}

.icon-pencil:before {
    content: "\e034";
}

.icon-search:before {
    content: "\e035";
}

.icon-avatar:before {
    content: "\e036";
}

/* --- These styles are just for the demo layout. Nothing to see here --*/
body {
    font-family: helvetica, sans;
    padding: 0 1em;
}

h1 .icon {
    font-size: 50px;
    font-weight: normal;
    margin-right: 0.2em;
}

ul {
    padding: 0;
}

li {
    border: 1px solid #eee;
    box-sizing: border-box;
    display: block;
    float: left;
    min-height: 7.6em;
    padding-top: 1.4em;
    text-align: center;
    width: 20%;
}

p {
    font-size: 0.9em;
    margin: 0;
}

li p:first-of-type {
    margin-top: 0.9em;
}